:root{
    --primary-color:#082ff0;
    --secondary-color:#fff;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#icon {
    width: 20px;
    cursor: pointer;
}
